* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 100px; /* Sesuaikan ukuran foto */
    height: 100px; /* Sesuaikan ukuran foto */
    border-radius: 50%; /* Membuat foto menjadi lingkaran */
    margin-right: 15px;
}

.profile-info h1 {
    margin: 0;
}

.profile-info p {
    margin: 0;
    font-size: 14px; /* Ukuran font untuk deskripsi */
}

.navbar {
    display: flex;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px; /* Ukuran font untuk menu */
}

.navbar a:hover {
    text-decoration: underline; /* Efek hover untuk menu */
}
